# Carpetas de compilación y salida
/build/
/dist/
/target/

# Configuración privada de NetBeans o IntelliJ
/nbproject/private/
/.idea/
/*.iml

# Archivos binarios y temporales
*.war
*.log
.DS_Store
/CRUD-MVC-JAVA/build/
/CRUD-MVC-JAVA/nbproject/private/